body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Nav Bar Styling*/

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:fixed;
  width: 100%;
  background-color: #0067A7;
  color: white;
}

.navlogo{
  display: flex;
  flex-direction: row;
  padding: 10px 5%;
}

.navmenu a{
  padding: 0 10px;
  color: white;
}

.navmenu{
  padding: 0 5%;
}

.nav button{
  color: white;
  border: 1px solid white;
}

button{
  padding: 10px 30px;
  border-radius: 25px;
  border: 1px solid darkgray;
  background-color: rgba(0, 0, 0, 0);
}

/* Home Page Styling*/
.storeimage{
  width: 100%;
}
.info{
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  align-items: center;
  padding: 0 10%;
}
.info section{
  width: 50%;
  padding: 8% 5%;
  
}

.info a{
  width: 50%;
  padding: 8% 5%;
  
}

.heading{
  font-size: 32px;
}

.number{
font-size: 42px;
}

.hours{
  text-align: center;
  background-color: #EEE5DA;
}

.resourcehome{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8% 10%;
}

.cardinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardinfo svg{
  font-size: 42px;
  padding-right: 5%;
}


/* Footer Styling*/

footer{
  background-color: #0067A7;
  color: white;
  padding: 10px 10%;
}
.footerinfo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footerlogos{
  display: flex;
  align-items: center;
}

.footerlogos svg{
  color: #D99800;
  padding-right: 10px;
  font-size: 12px
}

.footer h1{
  font-size: 14px;
}

.footer p{
  font-size: 12px;
}

.footer a{
  color: white;
  font-size: 12px;
  text-decoration-line: none;
}

/*Resource Page Styling */

.resources{
  padding: 150px 10% 125px 10%;
}

.resources h1{
  font-size: 42px;
}


/*Contact Page Styling*/

.contact{
  text-align: center;
  padding: 150px 10% 125px 10%;
}

.form-container{
  display: flex;
  flex-direction: column;
  padding: 15px 20%;
  text-align: left;
}

input{
  padding-left:30px;
	margin: 10px 0px;
	height: 50px;
	border-style: solid;
	border-radius: 10px;
	border-width: 1px;
	border-color: #AAA8A8;
	font-size: 15px;
}

textarea{
  padding:10px 10px;
  resize: none;
  margin: 10px 0px 30px 0px;
  height: 200px;
  border-radius: 10px;
	border-width: 1px;
	border-color: #AAA8A8;
	font-size: 15px;
}

.developers{
  display: flex;
  justify-content: space-evenly;
}

/* Order Page Styling*/

.orders{
  padding: 150px 10% 125px 10%;
}

/* Profile Page Styling*/

.profile{
  padding: 150px 10% 125px 10%;
}

.profile .info-container{
  display: flex;
  
}

.info-container .image{
  width: 40%;
}


.info-container .info{
  width: 60%;
}



/* Cart Page Styling*/

.cart{
  padding: 150px 10% 125px 10%;
}

/*SignUp Page*/
.sign-container{
  text-align: center;
  padding: 150px 10% 125px 10%;
}

.status{
  color: red;
}

/*SignIn Page*/

.signin{
  text-align: center;
  padding: 150px 10% 125px 10%;
}

.error-message{
  color: red;
}